/LEA_Finance_Survey_DB.json
.DS_Store
LEA Finance Survey – Entity Data.csv
LEA Finance Survey – Entity – Annual Stats Data.csv
LEA Finance Survey – Expenditures Data.csv
LEA Finance Survey – Federal Revenue Data.csv
LEA Finance Survey – Local Revenue Data.csv
LEA Finance Survey – State Revenue Data.csv
/EDGE_GEOCODE_PUBLICSCH_1920/
/EDGE_SCHOOLDISTRICT_TL20_SY1920/
/raw_data_files/
/shape_files/
/cleaned_exported_data/
/database_exports/
